<ion-header [translucent]="true">
  <app-header titulo="Asistencia" mode="back">
     <ion-button color="light" action-buttons (click)="exportarPDF()">
      <ion-icon slot="icon-only" name="document-text-outline"></ion-icon>
    </ion-button>
  </app-header>
</ion-header>

<ion-content color="light" class="ion-padding">
  <div class="filter-container ion-margin-bottom">
    <ion-item lines="none" class="month-item">
      <ion-icon name="calendar-clear-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <p>Periodo reportado</p>
        <ion-datetime-button datetime="date-picker"></ion-datetime-button>
      </ion-label>
    </ion-item>
  </div>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime 
        id="date-picker" 
        presentation="month-year"
        [preferWheel]="true"
        (ionChange)="onDateChange($event)">
      </ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-list lines="none" class="report-list">
    <div class="section-title">Últimos 10 Marcajes</div>
      <ion-item *ngFor="let item of reportAsistencia" class="custom-report-item">
        <ion-avatar slot="start">
          <div class="avatar-text">
            {{ item.nombre_usuario ? item.nombre_usuario[0] : 'U' }}
          </div>
        </ion-avatar>

        <ion-label>
          <h3>{{ item.nombre_usuario }}</h3> <p>{{ item.fecha | date:'mediumDate' }} · {{ item.tipo }}</p>
        </ion-label>

        <div slot="end" class="ion-text-end">
          <ion-badge [color]="item.estatus === 'A_TIEMPO' ? 'success' : 'danger'">
            {{ item.hora }}
          </ion-badge>
          <p class="time-note" [class.atraso]="item.estatus !== 'A_TIEMPO'">
            {{ item.estatus }}
          </p>
        </div>
      </ion-item>
      <ion-item *ngIf="reportAsistencia.length === 0" lines="none">
        <ion-label class="ion-text-center">
          <p>No hay marcajes registrados en este periodo.</p>
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>