<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      
      <ion-button *ngIf="mode === 'back' || mode === 'full'" (click)="backEvent()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>

      <ion-menu-button 
        *ngIf="mode === 'menu' || mode === 'full'" 
        [menu]="idMenu">
      </ion-menu-button>

    </ion-buttons>

    <ion-title>{{ titulo | titlecase }}</ion-title>

    <ion-buttons slot="end">
      <ng-content select="[action-buttons]"></ng-content>
    </ion-buttons>

  </ion-toolbar>
</ion-header>