<app-header titulo="Mi Perfil" mode="menu"></app-header>

<ion-content color="light">
  <div class="header-profile ion-text-center ion-padding">
    <div class="avatar-container">
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </div>
    <h2 class="ion-no-margin">{{ nombreCompleto }}</h2>
    <p class="ion-no-margin txt-role">{{ usuario?.roles[0] }}</p>
  </div>

  <ion-list lines="inset" class="ion-margin-top">
    <ion-list-header>
      <ion-label color="primary">INFORMACIÓN PERSONAL</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="person-circle-outline" color="medium"></ion-icon>
      <ion-label>
        <p>Usuario</p>
        <h3 class="font-bold">{{ usuario?.usuario }}</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="mail-outline" color="medium"></ion-icon>
      <ion-label>
        <p>Correo Electrónico</p>
        <h3 class="font-bold">{{ usuario?.email }}</h3>
      </ion-label>
    </ion-item>

    <ion-list-header class="ion-margin-top">
      <ion-label color="primary">ADSCRIPCIÓN</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="business-outline" color="medium"></ion-icon>
      <ion-label>
        <p>ID Empresa</p>
        <h3 class="font-bold">{{ usuario?.id_empresa }}</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="storefront-outline" color="medium"></ion-icon>
      <ion-label>
        <p>ID Tienda</p>
        <h3 class="font-bold">{{ usuario?.id_tienda }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>