<app-header [titulo]="entrega.id ? 'Editar Entrega' : 'Nueva Entrega'" mode="back"></app-header>

<ion-content class="ion-padding" color="light">
  <div class="flex-center">
    <ion-card mode="ios" class="form-card">
      <ion-card-content>
        
        <div class="section-title">Información de Entrega</div>
        
        <div class="input-group">
          <ion-item lines="none" class="custom-item">
            <ion-icon slot="start" name="document-text-outline" color="primary"></ion-icon>
            <ion-input label="Folio" labelPlacement="floating" [(ngModel)]="entrega.folio" placeholder="Ej: A-101"></ion-input>
          </ion-item>

          <ion-item lines="none" class="custom-item">
            <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
            <ion-input label="Persona que recibe" labelPlacement="floating" [(ngModel)]="entrega.persona_recibe"></ion-input>
          </ion-item>

          <ion-item lines="none" class="custom-item">
            <ion-icon slot="start" name="map-outline" color="primary"></ion-icon>
            <ion-input label="Colonia" labelPlacement="floating" [(ngModel)]="entrega.colonia"></ion-input>
          </ion-item>
        </div>

        <div class="section-title ion-margin-top">Asignación Logística</div>

        <div class="input-group">
          <ion-item lines="none" class="custom-item">
            <ion-icon slot="start" name="bicycle-outline" color="primary"></ion-icon>
            <ion-select label="Repartidor" labelPlacement="floating" [(ngModel)]="entrega.id_repartidor" placeholder="Seleccionar">
              <ion-select-option [value]="null">Sin asignar</ion-select-option>
              <ion-select-option *ngFor="let r of repartidores" [value]="r.id">{{ r.nombre }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="none" class="custom-item">
            <ion-icon slot="start" name="car-sport-outline" color="primary"></ion-icon>
            <ion-select label="Vehículo" labelPlacement="floating" [(ngModel)]="entrega.id_vehiculo" placeholder="Seleccionar">
              <ion-select-option [value]="null">Sin asignar</ion-select-option>
              <ion-select-option *ngFor="let v of vehiculos" [value]="v.id">{{ v.placa }} - {{ v.modelo }}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="ion-padding-top">
          <ion-button expand="block" shape="round" class="main-button" (click)="guardar()">
            {{ entrega.id ? 'ACTUALIZAR' : 'CREAR ENTREGA' }}
          </ion-button>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>