// menu.component.scss

// Contenedor principal
ion-content {
  --background: #ffffff;
}

// Encabezado del menú (Branding)
.menu-header-bg {
  padding: 40px 16px 24px 16px; // Un poco más de aire arriba
  background: var(--ion-color-primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  h2 {
    color: white;
    font-weight: 800;
    margin: 0;
    letter-spacing: 0.5px;
    font-size: 24px;
  }
}

// Estilo de los títulos de sección (CUENTA, etc.)
ion-list-header {
  margin-top: 16px;
  min-height: 20px;
  padding-start: 24px; // Alineado con el texto de los iconos
  
  ion-label {
    font-size: 11px;
    font-weight: 700;
    color: #80868b; // Gris Google
    letter-spacing: 1.1px;
    text-transform: uppercase;
  }
}

// Estilo base de los ítems
ion-item {
  --border-radius: 8px; 
  --padding-start: 16px;
  --inner-padding-end: 16px;
  margin: 2px 12px; // Un poco más de margen lateral
  --min-height: 44px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  --color: #3c4043;

  ion-icon {
    font-size: 20px;
    color: #5f6368;
    margin-inline-end: 16px; // Espacio entre icono y texto
  }

  // Efecto Hover (solo para escritorio)
  &:hover {
    --background: #f1f3f4;
  }
}

// Estado SELECCIONADO
.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.1); 
  --color: var(--ion-color-primary);
  font-weight: 600;

  ion-icon {
    color: var(--ion-color-primary);
  }
}

// Botón de Cerrar Sesión
.logout-item {
  margin-top: 8px;
  border-top: 1px solid #f1f3f4;
  --color: #d93025; 
  
  ion-icon {
    color: #d93025;
  }

  &:hover {
    --background: #fdf2f2; // Un rojo muy tenue al pasar el mouse
  }
}

.admin-header {
  ion-label {
    color: var(--ion-color-secondary) !important;
  }
}