<ion-menu side="start" menuId="MenuPrincipal" contentId="principal">
  
  <div class="menu-header-bg">
    <h1>ControlFacil</h1>
    <div class="company-badge-row">
      <span class="company-name">{{ nombreEmpresa }}</span>
      <span class="version-tag">{{ appVersion }}</span>
    </div>
  </div>

  <ion-content>
    <ion-list-header class="custom-section-header">
      <ion-label>OPERACIÓN</ion-label>
    </ion-list-header>

    <div class="menu-group-container">
      <ng-container *ngFor="let p of appPages | async">
        <ion-menu-toggle auto-hide="false" *ngIf="p.section === 'OPERACION'">
          <ion-item
            routerDirection="root"
            [routerLink]="[p.redirectTo]"
            routerLinkActive="selected"
            lines="none"
            detail="false"
            button>
            <ion-icon slot="start" [name]="p.icon"></ion-icon>        
            <ion-label>{{ p.name }}</ion-label>
          </ion-item>    
        </ion-menu-toggle>
      </ng-container>
    </div>

    <div *ngIf="isAdmin">
      <ion-list-header class="custom-section-header">
        <ion-label>ADMINISTRACIÓN</ion-label>
      </ion-list-header>

      <div class="menu-group-container">
        <ng-container *ngFor="let p of appPages | async">
          <ion-menu-toggle auto-hide="false" *ngIf="p.section === 'ADMINISTRACION'">
            <ion-item 
              [routerLink]="[p.redirectTo]" 
              routerDirection="root" 
              routerLinkActive="selected" 
              lines="none" 
              detail="false" 
              button>
              <ion-icon slot="start" [name]="p.icon"></ion-icon>        
              <ion-label>{{ p.name }}</ion-label>
            </ion-item>    
          </ion-menu-toggle>
        </ng-container>
      </div>
    </div>

    <ion-list-header class="custom-section-header">
      <ion-label>CUENTA</ion-label>
    </ion-list-header>

    <div class="menu-group-container">
      <ng-container *ngFor="let p of appPages | async">
        <ion-menu-toggle auto-hide="false" *ngIf="p.section === 'CUENTA'">
          <ion-item
            routerDirection="root"
            [routerLink]="[p.redirectTo]"
            routerLinkActive="selected"
            lines="none"
            detail="false"
            button>
            <ion-icon slot="start" [name]="p.icon"></ion-icon>        
            <ion-label>{{ p.name }}</ion-label>
          </ion-item>    
        </ion-menu-toggle>
      </ng-container>
    </div>

  </ion-content>
</ion-menu>